@import "../../scss/mixins";


.main {
    height: 100vh;

    .mottoBody {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4rem;
        background-image: url('https://minhpham.design/assets/images/banner-bottom-2400.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        
        .mottoContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 4rem;
            text-align: center;

            .wrapper {
                font-size: var(--bannerTextSize);
                line-height: 165%;
                letter-spacing: -0.15em;
                text-transform: uppercase;
            }
        }
    }
}