:root {

    // COLOR
    --primaryText: #b7ab98;
    --alternateText: #eb5939;
    --primaryBg: #0d0d0d;


    // PADDING
    --pagePadding: 0 7rem;
    --pageMobilePadding: 0 3rem;


    // FONT SIZE
    --headerTextSize: 1.275rem;
    --navTextSize: 1.5rem;
    --bannerTextSize: 12.275rem;


    // --secondary-shadow: rgba(2, 12, 27, 0.7);

}