@import "./mixins";


.alternate {
    color: var(--alternateText);
}

.headerText {
    font-size: var(--headerTextSize);
    letter-spacing: .5em;
    line-height: 130%;
    text-transform: uppercase;

    @include respond(phone) {
        font-size: var(--headerMobileTextSize);
    }
}

a{
    text-decoration: none;
    color: inherit;
}

.mask{
    mask-image: url('../../public/mask.svg');
    mask-repeat: no-repeat;
    // mask-size: 40px;
    background: var(--alternateText);
    // opacity: .95;
    position: absolute;
    z-index: 999;
    color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include respond(tab-land) {
       opacity: 0 !important;
    }
  }
  