@import "./variables";
@import "./mixins";
@import "./commons";
// @import url('https://fonts.googleapis.com/css2?family=Mali:wght@700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;600;700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Mali';
    // font-family: 'Poppins', sans-serif;
    // font-family: 'Exo', sans-serif;
    // font-weight: 400 !important;
}

html {
    font-size: 62.5%;
    @include respond(phone) {
        font-size: 40.25% !important; 
      }
    @include respond(tab-land) {
        font-size: 56.25%; // 1rem = 9px
      }
    
      @include respond(tab-port) {
        font-size: 50%; // 1rem = 8px
      }
    
      @include respond(big-desktop) {
        font-size: 75%;  // 1rem = 12px
      }
    }
    
    body {
    //   font-family: 'Raleway', sans-serif;
    //   height: 100vh;
    //   font-weight: 500;
      // font-size: 16px;
      // line-height: 1.5;
      box-sizing: border-box;
      background-color: var(--primaryBg);
      color: var(--primaryText);
      overflow-x: hidden;
      cursor: default;
    }
    
    
    // /* width */
    // ::-webkit-scrollbar {
    //   width: 5px;
    // }
    
    // /* Track */
    // ::-webkit-scrollbar-track {
    //   background-color: var(--secondary);
    
    // }
    
    // /* Handle */
    // ::-webkit-scrollbar-thumb {
    //   background: #233554;
    //   border-radius: 100px;
    // }
