@import "../../scss/mixins";


.main {
    // height: 100vh;

    .backgroundImage {
        width: 100%;
        height: 100%;
    }

    .experienceBody {
        width: 100%;
        // height: 90vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--primaryText);
        cursor: default;
        position: relative;
        z-index: -1;
        // background-image: url('https://images.unsplash.com/photo-1559270165-8d541cc34968?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80');
        // background-position: right;
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-attachment: fixed;
        // filter: blur(1px) grayscale(30%);

        &::before {
            content: "";
            position: absolute;
            z-index: -10;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
          }


        .experienceContainer {
            display: flex;
            margin-top: 30rem;
            margin-bottom: 30rem;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            gap: 2rem;
            padding-left: var(--bodymarginLeft);
            padding-right: var(--bodymarginLeft);

            @include respond(tab-port) {
                max-width: 700px;
                padding-left: var(--bodyMobileMarginLeft);
                padding-right: var(--bodyMobileMarginLeft);
            }

            @include respond(phone) {
                max-width: 400px;
            }

            p {
                max-width: 1400px;
                letter-spacing: -.07em;
                font-weight: var(--bodyMdFontWeight);
                font-size: var(--bodyMdTextSize);

                @include respond(tab-land) {
                    max-width: 700px;
                    font-size: var(--bodyTabletMdTextSize);
                }

                @include respond(tab-port) {
                    font-size: var(--bodyMobileMdTextSize);
                }
            }

            .history {
                position: absolute;
                bottom: 3rem;
            }
        }
    }

    .historyBody {
        width: 100%;
        // height: 75vh;
        color: var(--primaryText);
        cursor: default;
        position: relative;

        .historyContainer {
            .wrapper {
                font-size: var(--historyTextSize);
                line-height: 165%;
                letter-spacing: -0.1em;
                // text-transform: uppercase;

                @include respond(tab-port) {
                    font-size: var(--historyMobileTextSize);
                }

                h1 {
                    .line {
                        padding-left: var(--bodymarginLeft);
                        padding-right: var(--bodymarginLeft);

                        padding-top: 5rem;
                        padding-bottom: 5rem;
                        border-bottom: 1px solid var(--secondaryText);
                        display: flex;
                        gap: 18rem;

                        @include respond(tab-port) {
                            padding-left: var(--bodyMobileMarginLeft);
                            padding-right: var(--bodyMobileMarginLeft);
                            margin-left: 0;
                            gap: 5rem;
                        }

                        .role {
                            font-size: 1.7rem;
                            margin-top: 1rem;
                            letter-spacing: 0em;
                            font-weight: lighter;
                        }
                    }
                }
            }
        }
    }

    .projectsBody {
        width: 100%;
        // height: 100vh;
        margin-top: 30rem;
        margin-bottom: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--primaryText);
        cursor: default;

        @include respond(tab-port) {
            // height: 75vh;
            justify-content: start;
        }

        .projectsContainer {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding-left: var(--bodymarginLeft);
            padding-right: var(--bodymarginLeft);

            @include respond(tab-port) {
                max-width: 700px;
                padding-left: var(--bodyMobileMarginLeft);
                padding-right: var(--bodyMobileMarginLeft);
            }

            @include respond(phone) {
                max-width: 400px;
            }

            p {
                max-width: 1250px;
                letter-spacing: -.07em;
                font-weight: var(--bodyMdFontWeight);
                font-size: var(--bodyMdTextSize);

                @include respond(tab-land) {
                    max-width: 700px;
                    font-size: var(--bodyTabletMdTextSize);
                }

                @include respond(tab-port) {
                    font-size: var(--bodyMobileMdTextSize);
                }
            }
        }

        .projectsTitleContainer {
            display: flex;
            flex-direction: column;
            gap: 4rem;

            h3 {
                margin-left: var(--bodymarginLeft);

                @include respond(tab-port) {
                    margin-left: var(--bodyMobileMarginLeft);
                }
            }

            .wrapper {
                font-size: var(--bannerTextSize);
                line-height: 165%;
                letter-spacing: -0.15em;
                text-transform: uppercase;
                position: relative;
                z-index: 900;

                @include respond(tab-land) {
                    font-size: var(--bannerTabletTextSize);
                }

                @include respond(tab-port) {
                    font-size: var(--bannerMobileTextSize);
                }

                .imgContainer {
                    width: 100%;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: -5;
                    top: -60%;
                    right: 0;
                    object-position: center;
                    object-fit: contain;

                    .img {
                        width: 1000px;
                        height: 1000px;

                        @include respond(tab-land) {
                            width: 600px;
                            height: 600px;
                        }
                    }
                }

                h1 {
                    border-bottom: 1px solid var(--secondaryText) !important;

                    .line {
                        padding-left: var(--bodymarginLeft);
                        border-top: 1px solid var(--secondaryText);
                        padding-top: 3px;
                        padding-bottom: 3px;

                        @include respond(tab-port) {
                            padding-left: var(--bodyMobileMarginLeft);
                        }
                    }
                }

                .balls {
                    display: flex;
                    align-items: center;
                    gap: 1.2rem;
                    padding-left: var(--bodymarginLeft);
                    margin-top: 3rem;

                    @include respond(tab-port) {
                        padding-left: var(--bodyMobileMarginLeft);
                    }

                    .ball {
                        width: 1.2rem;
                        height: 1.2rem;
                        border-radius: 50%;
                        background-color: var(--primaryText);
                    }
                }
            }
        }
    }
}