@import "../../scss/mixins";


.main {

    .mottoBody {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4rem;

        @include respond(tab-land) {
            margin-top: 30rem;
        }

        .mottoContainer {
            display: flex;
            margin-top: 40rem;
            margin-bottom: 30rem;
            flex-direction: column;
            justify-content: center;
            gap: 4rem;
            text-align: center;

            .mottoWrapper {
                font-size: var(--bannerTextSize);
                line-height: 175%;
                letter-spacing: -0.15em;
                text-transform: uppercase;

                @include respond(tab-land) {
                    font-size: var(--bannerTabletTextSize);
                }

                @include respond(tab-port) {
                    font-size: var(--bannerMobileTextSize);
                }
            }
        }
    }

    .infoBody {
        width: 100%;
        position: relative;
        // height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .infoContainer {
            display: flex;
            margin-top: 20rem;
            margin-bottom: 20rem;
            flex-direction: column;
            justify-content: center;
            gap: 4rem;
            padding-left: var(--bodymarginLeft);
            padding-right: var(--bodymarginLeft);

            @include respond(phone) {
                padding-left: var(--bodyMobileMarginLeft);
                padding-right: var(--bodyMobileMarginLeft);
            }

            .infoWrapper {
                display: flex;
                gap: 2rem;
                position: relative;
                z-index: 900;

                @include respond(tab-port) {
                    flex-direction: column;
                    gap: 8rem;
                }

                .infoGrid {
                    display: grid;
                    flex: 4;
                    font-weight: 700;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                    line-height: 4.3rem;

                    @include respond(phone) {
                        grid-template-columns: repeat(1, 1fr);
                        grid-template-rows: repeat(6, 1fr);
                    }

                    .bullet {
                        display: flex;
                        align-items: center;
                        gap: 1.5rem;

                        .infoItem {
                            font-size: 3rem;
                            @include respond(phone) {
                                font-size: 4rem;
                            }
                        }
                        .dot {
                            width: 0rem;
                            height: 0rem;
                            border-right: 13px solid black;
                            border-left: 13px solid transparent;
                            border-bottom: 13px solid transparent;
                            
                            @include respond(phone) {
                                border-right: 10px solid black;
                                border-left: 10px solid transparent;
                                border-bottom: 10px solid transparent;
                            }
                        }
                    }
                }

                .infoDetails {
                    flex: 2;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    gap: 3rem;

                    p {
                        font-size: 1.7rem;
                        font-weight: 700;
                        margin-bottom: 1rem;
                        
                        @include respond(phone) {
                            font-size: 2.4rem;
                        }
                    }
                    
                    span {
                        font-size: 1.4rem;
                        @include respond(phone) {
                            font-size: 2.3rem;
                        }
                    }

                }
            }
        }
        .credit{
            position: absolute;
            font-size: 1.5rem;
            bottom: 5rem;
            // left: 15rem;
            margin-left: var(--bodymarginLeft);
            
            @include respond(phone) {
                font-size: 2.3rem;
                margin-left: var(--bodyMobileMarginLeft);
            }
        }
    }
}